/* change the background and text color */
body{
	background-color: black;
	box-sizing: border-box;
	color: white;
}
/* alter the head with name at the top */
h1 {
	text-align: center;
	font-size: 48px;
	font-family: sans-serif;
	text-transform: uppercase;
}
/* style the nav bar set it on the right */
nav {
	font-family: sans-serif;
	text-align: right;
	padding-right: 20px;
}
.nav-link{
	padding: 20px;
}
h2 {
	font-family: sans-serif;
	font-size: 30px;
	text-align: center;
}
ul{
	text-align: center;
	list-style-type: none;
}
li{
	padding-top: 10px;
	padding-bottom: 10px;
	margin: none;
}


.container {
	font-family: sans-serif;
	padding-bottom: 25px;
	height: auto;
}
a{
	font-family: sans-serif;
}
/* next 3 change the style of all the links on the page */
a:link{
	color: white;
	text-decoration: none;
}
a:visited{
	color: white;
	text-decoration: none;
}
a:hover{
	color: orange;
	text-decoration: none;
}
/* create a round image and center it */
#image{
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
	width: 50%;
}
footer{
	text-align: center;
	font-family: sans-serif;
}